@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

nav li ,header li, .tst li{
    display: inline-block;
    padding-left: 10px;
}

a, button{
    text-decoration: none;
    color: #ffffff;
}

.navsav{
     position:fixed;
    top: 0;
    background-color: white;
    z-index: 1000;
}
    



.bg{
    background-image:url(../img/gt7.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    
}

.pa{
padding: 120px;
}

.par{
    padding-left: 130px;
}

.fs{
    font-size: 56px;
    font-weight: 300;
}

.feher{
    color: #ffffff;
}

.pb{
    padding-bottom: 60px;
}

.sarga{
background-color: #d63d00;
}

.px{
    padding-left: 80px;
    padding-right: 80px;
    
}

.mainhatter{
    background-color: #121314;
}

.fs2{
    font-size: 48px;
}

.cardhatter{
    background-color: #1f2024;
}

.pl{
    padding-left: 60px;
}

.px2{
padding-left: 140px;
padding-right: 140px;
}

.pr{
    padding-right: 60px;
}

.addonfs{
    font-size: 11px;
}

.addonszin{
color: #a3b2b2;
}

.pll{
    padding-left: 40px;
}
.prr{
    padding-right: 40px;
}

.bg2 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/playstation5-playstation5-2_thumb674.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.szurke{
    color: #cfcfcf;
}

.padt{
    padding-top: 140px;
    padding-left: 165px;
    padding-right: 165px;
}

.kicsi{
    font-size: 13px;
}

.kekhatter{
    background-color: #134286;
}

.vilagoskek{
    color: #53a2f0;
}

.nagyobb{
    font-size: 20px;
}

.Cím{
    font-size: 45px;
}

.showroom{
    padding-bottom: 250px;
}

video{
    border-radius: 25px;
    overflow: hidden;
}

.bg4{
     background-image:url(../img/gt7\ hatter.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}

.paddingtop{
padding-top: 100px;
}

.Szöveg{
    padding-left: 120px;
}
.footer{
    background-color: #00439C;
}

.Logo{
    padding-left: 195px;
}

.Nav2{
    padding-left: 150px;
}

.footer2{
    padding-left: 180px;
}

.Sony{
    padding-left: 190px;
}

.Szöveg2{
    padding-left: 190px;
}

.Szöveg3{
    padding-right: 145px;
}

.footer3{
    padding-left: 200px;
}    
.bgc{
    background-color: #02429c;
    77be952da083700bae8ca87836612af58f44ace2
}